<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>c129</key>
    <string>c129.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ETX</key>
    <string>E_T_X_.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>uni0712</key>
    <string>uni0712.glif</string>
    <key>uni0713</key>
    <string>uni0713.glif</string>
    <key>uni0712.init</key>
    <string>uni0712.init.glif</string>
    <key>uni0712.med</key>
    <string>uni0712.med.glif</string>
    <key>uni0712.fin</key>
    <string>uni0712.fin.glif</string>
    <key>uni0713.init</key>
    <string>uni0713.init.glif</string>
    <key>uni0713.med</key>
    <string>uni0713.med.glif</string>
    <key>uni0713.fin</key>
    <string>uni0713.fin.glif</string>
    <key>uni0710</key>
    <string>uni0710.glif</string>
    <key>uni0715</key>
    <string>uni0715.glif</string>
    <key>uni0717</key>
    <string>uni0717.glif</string>
    <key>uni0718</key>
    <string>uni0718.glif</string>
    <key>uni0719</key>
    <string>uni0719.glif</string>
    <key>uni071A</key>
    <string>uni071A_.glif</string>
    <key>uni071B</key>
    <string>uni071B_.glif</string>
    <key>uni071D</key>
    <string>uni071D_.glif</string>
    <key>uni071F</key>
    <string>uni071F_.glif</string>
    <key>uni0720</key>
    <string>uni0720.glif</string>
    <key>uni0721</key>
    <string>uni0721.glif</string>
    <key>uni0722</key>
    <string>uni0722.glif</string>
    <key>uni0723</key>
    <string>uni0723.glif</string>
    <key>uni0725</key>
    <string>uni0725.glif</string>
    <key>uni0727</key>
    <string>uni0727.glif</string>
    <key>uni0726</key>
    <string>uni0726.glif</string>
    <key>uni0728</key>
    <string>uni0728.glif</string>
    <key>uni0729</key>
    <string>uni0729.glif</string>
    <key>uni072A</key>
    <string>uni072A_.glif</string>
    <key>uni072B</key>
    <string>uni072B_.glif</string>
    <key>uni072C</key>
    <string>uni072C_.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni0307</key>
    <string>uni0307.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>uni071F.med</key>
    <string>uni071F_.med.glif</string>
    <key>uni0722.init</key>
    <string>uni0722.init.glif</string>
    <key>uni0710.med</key>
    <string>uni0710.med.glif</string>
    <key>uni0717.init</key>
    <string>uni0717.init.glif</string>
    <key>uni0717.med</key>
    <string>uni0717.med.glif</string>
    <key>uni0717.fin</key>
    <string>uni0717.fin.glif</string>
    <key>uni0718.med</key>
    <string>uni0718.med.glif</string>
    <key>uni0718.fin</key>
    <string>uni0718.fin.glif</string>
    <key>uni0718.init</key>
    <string>uni0718.init.glif</string>
    <key>uni071A.init</key>
    <string>uni071A_.init.glif</string>
    <key>uni071A.med</key>
    <string>uni071A_.med.glif</string>
    <key>uni071A.fin</key>
    <string>uni071A_.fin.glif</string>
    <key>uni071B.init</key>
    <string>uni071B_.init.glif</string>
    <key>uni071B.med</key>
    <string>uni071B_.med.glif</string>
    <key>uni071B.fin</key>
    <string>uni071B_.fin.glif</string>
    <key>uni071D.init</key>
    <string>uni071D_.init.glif</string>
    <key>uni071D.med</key>
    <string>uni071D_.med.glif</string>
    <key>uni071D.fin</key>
    <string>uni071D_.fin.glif</string>
    <key>uni071F.init</key>
    <string>uni071F_.init.glif</string>
    <key>uni071F.fin</key>
    <string>uni071F_.fin.glif</string>
    <key>uni0710.fin</key>
    <string>uni0710.fin.glif</string>
    <key>uni200D</key>
    <string>uni200D_.glif</string>
    <key>uni200C</key>
    <string>uni200C_.glif</string>
    <key>uni0710.init</key>
    <string>uni0710.init.glif</string>
    <key>uni0715.med</key>
    <string>uni0715.med.glif</string>
    <key>uni0715.fin</key>
    <string>uni0715.fin.glif</string>
    <key>uni0719.med</key>
    <string>uni0719.med.glif</string>
    <key>uni0719.fin</key>
    <string>uni0719.fin.glif</string>
    <key>uni0720.init</key>
    <string>uni0720.init.glif</string>
    <key>uni0720.med</key>
    <string>uni0720.med.glif</string>
    <key>uni0720.fin</key>
    <string>uni0720.fin.glif</string>
    <key>uni0721.init</key>
    <string>uni0721.init.glif</string>
    <key>uni0721.med</key>
    <string>uni0721.med.glif</string>
    <key>uni0721.fin</key>
    <string>uni0721.fin.glif</string>
    <key>uni0722.med</key>
    <string>uni0722.med.glif</string>
    <key>uni0722.fin</key>
    <string>uni0722.fin.glif</string>
    <key>uni0723.med</key>
    <string>uni0723.med.glif</string>
    <key>uni0723.init</key>
    <string>uni0723.init.glif</string>
    <key>uni0723.fin</key>
    <string>uni0723.fin.glif</string>
    <key>uni0725.init</key>
    <string>uni0725.init.glif</string>
    <key>uni0725.med</key>
    <string>uni0725.med.glif</string>
    <key>uni0725.fin</key>
    <string>uni0725.fin.glif</string>
    <key>uni0727.init</key>
    <string>uni0727.init.glif</string>
    <key>uni0727.med</key>
    <string>uni0727.med.glif</string>
    <key>uni0727.fin</key>
    <string>uni0727.fin.glif</string>
    <key>uni0726.init</key>
    <string>uni0726.init.glif</string>
    <key>uni0726.med</key>
    <string>uni0726.med.glif</string>
    <key>uni0726.fin</key>
    <string>uni0726.fin.glif</string>
    <key>uni0728.init</key>
    <string>uni0728.init.glif</string>
    <key>uni0728.med</key>
    <string>uni0728.med.glif</string>
    <key>uni0728.fin</key>
    <string>uni0728.fin.glif</string>
    <key>uni0729.init</key>
    <string>uni0729.init.glif</string>
    <key>uni0729.med</key>
    <string>uni0729.med.glif</string>
    <key>uni0729.fin</key>
    <string>uni0729.fin.glif</string>
    <key>uni072A.med</key>
    <string>uni072A_.med.glif</string>
    <key>uni072A.fin</key>
    <string>uni072A_.fin.glif</string>
    <key>uni072B.init</key>
    <string>uni072B_.init.glif</string>
    <key>uni072B.med</key>
    <string>uni072B_.med.glif</string>
    <key>uni072B.fin</key>
    <string>uni072B_.fin.glif</string>
    <key>uni072C.init</key>
    <string>uni072C_.init.glif</string>
    <key>uni072C.med</key>
    <string>uni072C_.med.glif</string>
    <key>uni072C.fin</key>
    <string>uni072C_.fin.glif</string>
  </dict>
</plist>
